p {
  font-size: 24px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

.flashy {
  color: #00cc00;
}

.best {
  color: black;
}

body {
  background-image: url(big-cupcake.jpg);
  font-size: 40px;
}

.centre {
  font-size: 24px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  align-content: center;
  text-align: center;
  margin: 30px;
  padding: 40px;
}

.guiness {
  float: right;
}

img {
  border-radius: 12px;
  border-color: white;
}
